<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CBS Studen Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/student-platform.styles.css" asp-append-version="true" />
  </head>

  <body>
    <div class="page__wrapper">
      <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow top-nav">
          <a asp-area="" asp-controller="Dashboard" asp-action="Index">
            <img src="~/images/logo.svg" alt="CSB Students Logo"
              class="position-absolute top-50 start-50 translate-middle" /></a>
          <div class="justify-content-end me-5">
            <partial name="_LoginPartial" />
          </div>
        </nav>
      </header>

      <div class="page__main d-flex">
        <partial name="_NavBarPartial" />
        <div class="container">
          <main role="main" class="pb-3">
            @RenderBody()
          </main>
        </div>
      </div>

      <footer class="border-top footer text-muted bg-white box-shadow text-center">
        <div class="container">
          &copy; 2022 - CBS Student Platform
        </div>
      </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6e29357c68.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>

</html>
