@using student_platform.Models.Entities.Post;
@model Post;


<div class="d-flex justify-content-center">
  <section class="page__container bg-white box-shadow content__container">
    <h2>Add Post</h2>

    <hr />
    <form asp-action="AddPost">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @await Html.PartialAsync("_CreateEditPost")
    </form>
    <div>
      <a class="generic__links" asp-action="Index">Back to List</a>
    </div>
  </section>
</div>



@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}