@using student_platform.Models.Entities.Post;
@model Post;

<h1>Add Post</h1>

<h4>Your Post</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="AddPost">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @await Html.PartialAsync("_CreateEditPost")
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}