@model student_platform.Models.Entities.Post.Post;

@{
  ViewData["Title"] = "Edit Post";
}

<div class="d-flex justify-content-center">
  <section class="page__container bg-white box-shadow content__container">
    <h4>Edit Post</h4>
    <hr />
    <form asp-action="EditPost">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="PostId" />
      @await Html.PartialAsync("_CreateEditPost")
    </form>

    <div>
      <a class="generic__links" asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div>
      <h4>This Post Comments: <span class="fa-solid fa-comment-dots activity__icon"></span></h4>
      @foreach (var comment in Model.Comments)
      {
        <div class="row">
          <div class="col-md-4">
            @comment.User.Email : <em>@comment.Text</em>
          </div>
        </div>
      }
    </div>
  </section>
</div>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}