/* _content/student-platform/Views/Posts/index.cshtml.rz.scp.css */
.status__published[b-8sxi9nk4n9] {
  background-color: var(--active);
}

.status__draft[b-8sxi9nk4n9] {
  background-color: var(--in-progress);
}
/* _content/student-platform/Views/Shared/_Layout.cshtml.rz.scp.css */
.footer[b-ikh3js24of] {
  height: 30px;
}
